The Plotly Community Feed has more than a million user-generated charts, many of which include data.  I want to use this data to train a model to predict the kinds of design decisions that a human data analyst would make when looking at a table of data:
- What kind of chart to draw?
    - line
    - bar
    - scatter
    - heatmap
- What goes on the x axis?
- What goes on the y axis? 
- Are any transforms necisary? 

Conveniently, the precident project vizML has packeged up data from the plotly community feed, along with a package of attributes they calculated from cleaned and de-duplicated data.  As a shortcut, I'll start with their processed attributes. Later, we can go back and collect new data from the plotly community feed to add more information about new types of data -- particularly, about chart types good for visualizing genomic data, like a circos plot.

## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Load data

In [3]:
chart_outcomes = pd.read_csv("../features/processed/chart_outcomes.csv")
chart_outcomes.head()

,fid,both_single_srcs,has_single_src,has_single_x_src,has_single_y_src,single_x_src_id,single_y_src_id,single_x_src_order,single_y_src_order,num_x_axes,num_y_axes,num_unique_x_axes,num_unique_y_axes,one_subplot,num_traces,num_trace_types,trace_types,is_all_one_trace_type,all_one_trace_type,num_fields_used_by_data
0,mipi:193,False,False,False,False,NaN,NaN,NaN,NaN,6,6,6,6,False,9,1,"['line', 'line', 'line', 'line', 'line', 'line...",True,line,18
1,maragones:847,False,False,False,False,NaN,NaN,NaN,NaN,0,0,0,0,True,1,1,['bar'],True,bar,2
2,Umbric:106,False,True,True,False,Umbric:107:27b2ef,NaN,0.0,NaN,0,0,0,0,True,3,1,"['bar', 'bar', 'bar']",True,bar,4
3,maragones:844,False,False,False,False,NaN,NaN,NaN,NaN,0,0,0,0,True,1,1,['bar'],True,bar,2
4,dosauto:547,False,True,True,False,dosauto:548:20069f,NaN,0.0,NaN,2,2,2,2,False,6,1,"['line', 'line', 'line', 'line', 'line', 'line']",True,line,7

In [10]:
chart_outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989068 entries, 0 to 1989067
Data columns (total 20 columns):
 #   Column                   Dtype
---  ------                   -----
 0   fid                      object
 1   both_single_srcs         bool
 2   has_single_src           bool
 3   has_single_x_src         bool
 4   has_single_y_src         bool
 5   single_x_src_id          object
 6   single_y_src_id          object
 7   single_x_src_order       float64
 8   single_y_src_order       float64
 9   num_x_axes               int64
 10  num_y_axes               int64
 11  num_unique_x_axes        int64
 12  num_unique_y_axes        int64
 13  one_subplot              bool
 14  num_traces               int64
 15  num_trace_types          int64
 16  trace_types              object
 17  is_all_one_trace_type    bool
 18  all_one_trace_type       object
 19  num_fields_used_by_data  int64
dtypes: bool(6), float64(2), int64(7), object(5)
memory usage: 223.8+ MB

In [ ]:
features_df = pd.read_csv("../features/processed/features_aggregate_single_pairwise.csv")
features_df.head()

In [1]:
features_df.info()

NameError: name 'features_df' is not defined

In [ ]:
field_level_outcomes = pd.read_csv("../features/processed/field_level_outcomes.csv")
field_level_outcomes.head()